body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
.password-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .password-input {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #Password-validator p {
    color: #333;
    margin: 5px 0;
  }
  
  #password-steps p {
    color: #f00;
    margin: 5px 0;
  }
  
  .save-password button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .save-password button:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
  }
  
  @media (max-width: 600px) {
    .password-container {
      width: 90%;
    }
  }  